---
layout: default
pagination:
  enabled: true
---

<div class="home-container" >

  <div class="home-posts">

    <div class="page-heading">
      <svg viewBox="0 0 500 200" preserveAspectRatio="none" width="100%" height="100">
        <g>
          <rect id="svg_11" height="200px" width="100%" y="0" x="0" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="#FF0000"/>
          <text text-anchor="middle" font-family="serif" font-size="24" id="svg_12" y="50" x="50" stroke-width="0" stroke="#000000" fill="#000000">Posts</text>
          <path height="100" width="100%" stroke="#000000" id="svg_20" d="m167.60308,41.11522c166.4849,0 184.80998,75.177 184.80998,75.177l88.15393,0l-88.6014,0c-23.83124,88.93949 -184.80997,74.72945 -184.80997,74.72945c76.96689,-75.177 0.44772,-149.90645 0.44772,-149.90645l-0.00026,0zm-29.08633,5.81726c55.93524,70.25467 0,139.16686 0,139.16686m-64.4374,-34.61472l81.88921,0m-81.88921,-70.54357l81.88921,0m-90.72466,-4.79553l8.79411,0l0,8.79415l-8.79411,0l0,-8.79415zm0.07469,70.6435l8.79411,0l0,8.79415l-8.79411,0l0,-8.79415zm375.1312,-34.90933l8.7941,0l0,8.79414l-8.7941,0l0,-8.79414z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="#000000"/>
        </g>
      </svg>
    </div>


    <ul class="post-list">
      <!-- This loops through the pzginated posts -->
      {% for post in paginator.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endfor %}

    <!-- pagination -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span>{{ page }}</span>
        {% elsif page == 1 %}
          <a href="/">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  </div>
  <div class="home-sidebar" >
    hello hello hello hello hello hello hello hello 
  </div>
</div>
