
/**
 * Home page
 */
.home-container {
    display: flex;
    justify-content: space-between;

}
.post-list {
  padding: 5px;
  background-color: #ffffff;
}
.home-sidebar {
  padding: 10px;
  background-color: #80f0C0;
}

.page-heading {
  font-size: 20px;
  height: auto;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    //margin-bottom: $spacing-unit;
    margin: 0;
    background-color: chartreuse;
  }

  > h2 {
    margin: 0;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.pagination a,
.pagination span {

  font-size: 30px;
  padding: 5px;
  background-color: #F030F0;
  border: 2px solid red;
}
